@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

html,
body {
  touch-action: none;
  font-size: 12px;
}

/* Panel Menu */
.p-toggleable-content-enter-active,
.p-toggleable-content-leave-active {
  transition: none !important;
}